.fptweet{
    width: 100%;
    border-left: 6px solid #8E939E;
    padding: 25px 25px 25px 80px;
    background: url('../img/icon.png') #D7D9D7;
    background-repeat: no-repeat;
}
.fptweet a{
    padding: 0 0 0 15px;
}